---
title: Xiaomi Firmware Updater
layout: index
permalink: /
---
<section id="main" class="container-fluid">
	<div class="box special">
		<header class="major">
			<h3 data-ref="xfu_more1">Introducing the ultimate script
				<br />
				that provides firmware packages for <a href="/supported/" target="_blank">all</a> Xiaomi
				devices</h3>
			<p data-ref="xfu_more2">It's an automated script, running on Linux server every six hours,
				extracting firmware from MIUI official ROMs, Global, Europe, India and China, and uploads it to hosting servers.
				Check your device below!<br/>
				We also maintain Xiaomi largest MIUI downloads library on the internet that has more than 23K unique link.
				<br />
				<b>New user? </b>Note that Firmware is not a ROM or OTA Package.<br />Check the Frequently Asked
				Questions <a href="/faq/" target="_blank">here</a></p>
		</header>
	</div>
	{%include pix_ad_320x50_1.html%}
	<!-- Chooser -->
	{%include choose.html%}
</section>