<section id="chooser" class="box special">
	<div style="display:inline-table;">
		<form id="DownloadForm" name="DownloadForm">
		<table id="choose_download" style="display: inline-block">
			<thead>
				<tr>
					<th><span id="tplatform"><strong>Download</strong>:</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="col-4 col-12-narrower">
							<input type="radio" id="firmware" value="firmware" name="request" checked>
							<label for="firmware">Firmware</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-4 col-12-narrower">
							<input type="radio" id="vendor" value="vendor" name="request">
							<label for="vendor">Vendor</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-4 col-12-narrower">
							<input type="radio" id="rom" value="rom" name="request">
							<label for="rom">ROM</label>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<table id="choose_items" style="display: inline-block">
			<thead>
				<tr>
					<th><span id="tplatform"><strong>Options</strong>:</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="col-4 col-12-narrower">
							<select name="devices" id="devices" class="devices">
								<option selected disabled>- Device -</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-12">
							<select name="region" id="region" class="select2">
								<option selected disabled>- Region -</option>
								<option value="china">China</option>
								<option value="global">Global</option>
								<option value="europe">Europe</option>
								<option value="india">India</option>
								<option value="russia">Russia</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-12">
							<select name="branch" id="branch" class="select2">
								<option selected disabled>- Branch -</option>
								<option value="stable">Stable</option>
								<option value="weekly">Weekly</option>
							</select>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="col-12">
			<ul class="actions">
				<li><input type="submit" onclick="choicesParses()" value="Submit" /></li>
			</ul>
		</div>
</section>