<section id="chooser" class="box special">
	<div class="row">
		<form id="DownloadForm" name="DownloadForm">
			<div class="row gtr-uniform gtr-50" style="display: inline-block">
				<div class="col-12">
					<select name="device" id="device" class="device">
						<option selected disabled>- Device -</option>
					</select>
				</div>
				<div class="col-12">
					<input type="radio" id="firmware" value="firmware" name="request" checked>
					<label for="firmware">Firmware</label>
					<input type="radio" id="vendor" value="vendor" name="request">
					<label for="vendor">Vendor</label>
					<input type="radio" id="rom" value="miui" name="request">
					<label for="rom">ROM</label>
				</div>
				<div class="col-12">
					<ul class="actions" style="display: inline-block">
						<li><input type="submit" onclick="return choicesParser()" value="Download" /></li>
					</ul>
				</div>
			</div>
		</form>
		<div class="col-6 col-12-mobilep" style="display: inline-block">
			<span class="image fit"><img src="images/pic04.jpg" alt="" /></span>
		</div>
	</div>
</section>