<footer id="footer">
	<ul class="icons">
	   <li><a href="https://github.com/XiaomiFirmwareUpdater" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
	   <li><a href="https://t.me/XiaomiFirmwareUpdater" class="icon brands fa-telegram" target="_blank"><span class="label">Telegram
	      Channel</span></a>
	   </li>
	   <li><a href="https://t.me/MIUIUpdatesTracker" class="icon brands fa-telegram-plane" target="_blank"><span class="label">MIUIUpdatesTracker
	      </span></a>
	   </li>
	   <li><a href="https://twitter.com/MiFwUpdater" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter
	      </span></a>
	   </li>
	   <li style="
	      border-left: 1px solid #bfbcbc;
	      padding: 0 1.25em 0 1.25em;
	      "><a href="https://paypal.me/yshalsager" class="icon brands fa-paypal" target="_blank"><span class="label">PayPal</span></a></li>
	   <li><a href="https://www.patreon.com/XiaomiFirmwareUpdater" class="icon brands fa-patreon" target="_blank"><span class="label">Patreon</span></a></li>
	   <li><a href="https://liberapay.com/yshalsager/" class="icon solid fa-donate" target="_blank"><span class="label">LiberaPay</span></a></li>
	   <li style="
	      border-left: 1px solid #bfbcbc;
	      padding: 0 1.25em 0 1.25em;
	      "><a href="/sitemap/" class="icon solid fa-sitemap"><span class="label">Sitemap</span></a></li>
	   <li><a href="/rss/" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
	</ul>
	<ul class="copyright" data-ref="sponsorship"> 
		<span>XiaomiFirmwareUpdater is sponsored by</span>
		<a href='https://www.packet.net' target="_blank"><img alt='Packet' src='/images/Packet_logo_sm.png' width='89px' /></a>
	</ul>
	<ul class="copyright" data-ref="cookies">
		<li>This website uses cookies. By using this website, you accept our policies.
		Read our <a href="/privacy/">privacy policy</a> for more
		information.
		</li>
	</ul>
	<ul class="copyright">
		<li data-ref="notice">XiaomiFirmwareUpdater project is not affiliated with Xiaomi Inc. or MIUI ROM Development Team in any way.
		</li>
	</ul>
	<ul class="copyright">
		<li data-ref="copyright">&copy; Xiaomi Firmware Updater. All rights reserved.</li>
		<li data-ref="template">Template: <a href="https://html5up.net">HTML5 UP</a></li>
		<li><span data-ref="siteVersion">Site version</span>: v.1.1.0</li>
		<li>PixFuture exclusive partner.</li>
	</ul>
</footer>
