<footer id="footer">
	<ul class="note"><em>Visit this website on a desktop device for better experience.</em></ul>
	<ul class="icons">
		<li><a href="https://github.com/XiaomiFirmwareUpdater" class="fab fa-github"><span class="label"> Github</span></a></li>
		<li><a href="https://t.me/XiaomiFirmwareUpdater" class="fab fa-telegram"><span class="label"> Telegram Channel</span></a></li>
		<li><a href="https://t.me/XiaomiGeeks" class="fab fa-telegram-plane"><span class="label"> Telegram Group</span></a></li>
		<li><a href="http://paypal.me/yshalsager" class="fab fa-paypal"><span class="label"> PayPal</span></a></li>
		<li><a href="https://www.patreon.com/XiaomiFirmwareUpdater" class="fab fa-patreon"><span class="label"> Patreon</span></a></li>
	</ul>
	<a href="https://www.google.com/search?q=xiaomi+firmware+updater" target="_blank">#XFU</a>
	<ul><h5 style="color: #222">This website uses cookies. Using this website means that you are okay with accepting it. Read our <a href="https://xiaomifirmwareupdater.com/privacy/" target="_blank">privacy policy</a> for more information.</h5></ul>
	<ul class="copyright" style="color: #222">
		<li>This website is stored at <a href="https://github.com/XiaomiFirmwareUpdater/xiaomifirmwareupdater.github.io/" target="_blank">Github</a>. Help us to improve it!</li><li>&copy; Xiaomi Firmware Updater. All rights reserved.</li><li>Website by <a href="https://github.com/berkantkz">berkantkz</a>, design by <a href="http://html5up.net">HTML5 UP</a></li>
		<li><h5>Site version: v.0.3.5</h5></li>
	</ul>
</footer>
