<script src="/assets/js/jquery.min.js"></script>
<header id="header">
	<h1><a href="https://github.com/XiaomiFirmwareUpdater">Xiaomi Firmware Updater</a> by <a href="https://github.com/yshalsager">yshalsager</a></h1>
	<div id="home-icon" style="height: 32px; width: 32px; display: none;"><a href="/"><img height="32px" width="32px" src="/images/xfu.png"></img></a></div>
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a class="icon fa-angle-down" style="cursor: pointer;">Stock ROMs</a>
				<ul>
					<li>
						<a style="cursor: pointer;">Recovery ROMs</a>
						<ul>
							<li><a href="/roms/recovery/stable/">Stable</a></li>
							<li><a href="/roms/recovery/weekly/">Weekly</a></li>
						</ul>
					</li>
					<li>
						<a style="cursor: pointer;">Fastboot ROMs</a>
						<ul>
							<li><a href="/roms/fastboot/stable/">Stable</a></li>
							<li><a href="/roms/fastboot/weekly/">Weekly</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a class="icon fa-angle-down" style="cursor: pointer;">More...</a>
				<ul>
					<li><a href="/supported-devices/">Supported Devices</a></li>
					<li><a href="/team/">Our Team</a></li>
					<li><a href="/faq/">F.A.Q.</a></li>
					<li><a href="/privacy/">Privacy Policy</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

<script>
	var lastPosition = $(window).scrollTop();
	$(window).scroll(function (event) {
		var currentPosition = $(this).scrollTop();
		if (currentPosition > lastPosition) {
			//$('#header').fadeOut();
			$('#header').css('top','-5em');
		} else {
			$('#header').css('top','0');
		}
		lastPosition = currentPosition;
	});
</script>