<h1><a href="/">Xiaomi Firmware Updater</a> by <a href="https://github.com/yshalsager">yshalsager</a></h1>
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#" class="icon solid fa-angle-down">Downloads</a>
			<ul>
				<li><a href="/firmware/">Firmware</a></li>
				<li><a href="/vendor/">Vendor</a></li>
				<li><a href="/miui/">MIUI</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="icon solid fa-angle-down">Projects</a>
			<ul>
				<li><a href="/projects/xiaomi-flashable-firmware-creator/">Flashable FW Creator</a></li>
				<li><a href="/projects/miui-updates-tracker/">MIUI Tracker</a></li>
				<li><a href="/projects/miui-downloads-scraper/">MIUI Links Scraper</a></li>
				<li><a href="/projects/uranus-chatbot/">Uranus Chat Bot</a></li>
				<li><a href="/projects/miui-arb-checker/">ARB Checker</a></li>
				<li><a href="/projects/xiaomi-oss-tracker/">OSS Tracker</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="icon solid fa-angle-down">More</a>
			<ul>
				<li><a href="/faq/">F.A.Q.</a></li>
				<li>
					<a href="/supported/">Supported Devices</a>
					<ul>
						<li><a href="/supported/firmware/">Firmware Updater</a></li>
						<li><a href="/supported/vendor/">Vendor Updater</a></li>
						<li><a href="/supported/miui/">MIUI Downloads</a></li>
					</ul>
				</li>
				<li>
					<a href="/blog/">Blog</a>
					<ul>
						<li><a href="/blog/categories/">Categories</a></li>
						<li><a href="/blog/archive/">Archive</a></li>
					</ul>
				</li>
				<li><a href="/about/">About</a></li>
				<li><a href="/team/">Our Team</a></li>
				<li><a href="/contact-us/">Contact Us</a></li>
				<li><a href="/privacy/">Privacy Policy</a></li>
			</ul>
		</li>
	</ul>
</nav>