<meta name="description" content="The ultimate script that provides firmware packages for Xiaomi devices." />
<meta property="og:title" content="Xiaomi Firmware Updater" />
<meta property="og:description"
    content="The ultimate script that provides firmware packages for Xiaomi devices." />
<meta property="og:image"
    content="/images/xfu.png" />
<link rel="shortcut icon" href="/images/xfu.png" type="image/x-icon" />
<meta name="keywords"
    content="xiaomi, xiaomi firmware, xiaomi firmware updater, firmware updater, firmware download, firmware, firmware downloader, firmware update, xiaomi firmware download, xiaomi firmware update, Xiaomi update, XDA, Xiaomi XDA, Firmware XDA, yshalsager, xfu, redmi, mi, pocophone, poco" />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
