<div id="pix_ad_320x50_1" class="mx-auto d-xl-none mb-5 center">
    <div id="pf-24332x320x50x4150x_ADSLOT1" clickTrack="%%CLICK_URL_ESC%%"></div>
    <script type="text/javascript">
        if (screen && screen.width > 1024) {
            var script = document.createElement('script');
            script.src = '//served-by.pixfuture.com/www/delivery/headerbid.js'
            script.setAttribute("slotId", "24332x320x50x4150x_ADSLOT1");
            script.setAttribute("refreshInterval", 30);
            script.setAttribute("refreshTime", 5);
            document.getElementById("pf-24332x320x50x4150x_ADSLOT1").appendChild(script);
        }
    </script>
</div>